<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="leftSidebar" th:fragment="leftSidebar" layout:fragment="leftSidebar">
    <div class="sidebar sidebar-left">

        <div class="user-data">

            <a th:href="@{/user/{id}(id=${user.id})}" class="credentials-container">
                <div class="avatar"></div>
                <div>
                    <div class="username" th:text="${user.username}">
                    </div>
                    <div class="rank" th:text="${user.getRole().getName()}"></div>
                </div>
            </a>

            <div class="credits-container">
                <div class="credits">
                    <img src="/assets/images/gold.png" width="20" height="20">
                    <span th:text="${user.gold}"></span>
                </div>
                <div class="credits">
                    <img src="/assets/images/shell.png" width="20" height="18">
                    <span class="text-sm">{shells}</span>
                </div>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/main" th:classappend="${context == 'home' ? 'active' : ''}"><i class="fa-solid fa-house"></i>Strona główna</a></li>
                <li><a href="/turtles" th:classappend="${context == 'turtles' ? 'active' : ''}"><i
                        class="fa fa-turtle"></i>Żółwie</a></li>
                <li><a href="/nest" th:classappend="${context == 'nest' ? 'active' : ''}"><i class="fa fa-hand-holding-heart"></i>Legowisko</a></li>
                <li><a href="/items" th:classappend="${context == 'items' ? 'active' : ''}"><i class="fa fa-treasure-chest"></i>Ekwipunek</a></li>
                <li><a href="/achievements" th:classappend="${context == 'achievements' ? 'active' : ''}"><i class="fa fa-trophy"></i>Osiągnięcia</a></li>
                <li><a href="#"><i class="fa fa-swords"></i>Arena</a></li>
                <li><a href="#"><i class="fa fa-university"></i>Akademia</a></li>
                <li><a href="/expeditions" th:classappend="${context == 'expeditions' ? 'active' : ''}"><i
                        class="fa fa-clouds"></i>Wyprawy</a></li>
                <li><a href="#"><i class="fa fa-shield-halved"></i>Strażnicy</a></li>
            </ul>
        </div>
    </div>
</nav>