<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="eng">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/app/app.css" />
    <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <title>TurtleBlast</title>
</head>
<body>
<!-- left sidebar-->
<nav th:replace="~{layout/leftSidebar :: leftSidebar}"></nav>
<!-- end left sidebar-->

<!-- main content container-->
<main>
    <h1 layout:fragment="header">Strona główna</h1>
    <div class="content">
        <div layout:fragment="content"></div>
    </div>
</main>
<!-- end main content container-->

<!-- right sidebar-->
<nav th:replace="~{layout/rightSidebar :: rightSidebar}"></nav>
<!-- end right sidebar-->

</body>
