<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="rightSidebar" th:fragment="rightSidebar" layout:fragment="rightSidebar">
    <div class="sidebar sidebar-right">
        <button type="button" class="right-sidebar-toggle">
            <i class="fa"></i>
        </button>
        <div class="setting-container">
            <a href="/private-message">
                <i class="fa-solid icon-messages fa-envelope"
                   th:classappend="${user.isUserHaveUnreadMessage()} ? 'fa-bounce' : ''">
                </i>
            </a>
            <a th:href="@{/user/edit}"><i class="fa-solid fa-wrench"></i></a>
            <a href = "/logout" id="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
        <div class="turtle-widgets-container">

            <a th:href="@{/turtles/{id}/details(id = ${turtle.id})}" class="turtle-widget"
               th:each="turtle : ${user.getTurtles()}">
                <img th:src="@{${'/assets/images/turtles/' + turtle.getTurtleType().getId() + '.png'}}"/>
                <div class="turtle-data">
                    <div class="turtle-name" th:text="${turtle.getName}"></div>
                    <div class="turtle-activity">
                        <span th:text="${turtle.isAvailable() ? 'Odpoczywa' : 'Wróci o ' + #temporals.format(turtle.getAvailableAt(), 'HH:mm')}"></span>
                    </div>
                </div>
            </a>

        </div>
    </div>
</nav>