<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="rightSidebar" th:fragment="rightSidebar" layout:fragment="rightSidebar">
    <div class="sidebar sidebar-right">

        <div class="turtle-widgets-container">

            <a href="#" class="turtle-widget">
                <img src="/assets/images/turtles/fire.png"/>
                <div class="turtle-data">
                    <div class="turtle-name">Nemnes</div>
                    <div class="turtle-activity">Wróci o 23:51</div>
                </div>
            </a>

            <a href="#" class="turtle-widget">
                <img src="/assets/images/turtles/electro.png"/>
                <div class="turtle-data">
                    <div class="turtle-name">Electro</div>
                    <div class="turtle-activity">Odpoczywa</div>
                </div>
            </a>

        </div>
    </div>
</nav>