<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="rightSidebar" th:fragment="rightSidebar" layout:fragment="rightSidebar">
    <div class="sidebar sidebar-right">

        <div class="turtle-widgets-container">

            <a th:href="@{/turtles/{id}/details(id = ${turtle.id})}" class="turtle-widget"
               th:each="turtle : ${user.getTurtles()}">
                <img src="/assets/images/turtles/fire.png"/>
                <div class="turtle-data">
                    <div class="turtle-name" th:text="${turtle.getName}"></div>
                    <div class="turtle-activity">
                        <span th:text="${turtle.isAvailable() ? 'Odpoczywa' : 'Wróci o ' + #temporals.format(turtle.getCurrentExpedition().getEndAt(), 'HH:mm')}"></span>

                    </div>
                </div>
            </a>

        </div>
    </div>
</nav>