<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="sidebar" th:fragment="sidebar" layout:fragment="sidebar">
    <div class="sidebar-heading">Menu</div>
    <ul>
        <li class="active"><a href="#">Strona główna</a></li>
        <li><a href="#">Twoje żółwie</a></li>
        <li><a href="#">Katalog żółwi</a></li>
        <li><a href="/expeditions">Wyślij żółwia na wyprawę</a></li>
        <li><a href="#">Arena zółwi</a></li>
        <li><a href="#">Twoje przedmioty</a></li>
        <li><a href="#">Chatbox</a></li>
    </ul>
</nav>