:root {
  --text-default: #DFDDDC;
  --text-muted: rgba(140, 155, 168, 0.75);
  --text-primary: #1C84AC;
  --text-success: #15912e;
  --text-danger: #911515;
  --text-bright: #f8f5f2;
  --text-light: #BBD6E0C4;
  --bg-default: #161c26;
  --bg-light: #242d3d;
  --bg-transparent: #0e162178;
  --bg-active: #ffffff08;
  --border-default: #D2CFCD19;
  --border-active: #d2cfcd40;
}

.card {
  background: var(--bg-default);
  border: 1px solid var(--border-default);
  padding: 1.5rem;
  border-radius: 0.25rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--text-primary);
}

.text-success {
  color: var(--text-success);
}

.text-danger {
  color: var(--text-danger);
}

.text-disabled {
  color: var(--text-disabled);
}

.text-muted {
  color: var(--text-muted);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: .75rem;
}

.text-2xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-xl {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}

.size-wide {
  width: 100%;
}


.bg-light {
  background: var(--bg-light) !important;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.50rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.50rem;
}

.me-3 {
  margin-right: 0.75rem;
}

.me-4 {
  margin-right: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.50rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-middle {
  align-self: center;
}

.flex-left {
  justify-content: left;
}

.flex-center {
  justify-content: center;
}

.flex-right {
  justify-content: right;
}

.hidden {
  display: none;
}

.button {
  width: 100%;
  height: 38px;
  padding: 0 15px;
  border: 2px solid var(--text-primary);
  color: var(--text-primary);
  background: transparent;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: var(--text-primary);
    color: #000000aa;
  }

  &[disabled] {
    opacity: 0.5;
    border: 2px solid var(--border-default);
    color: var(--text-muted);
    pointer-events: none;
  }

  &.button-danger {
    background: var(--text-danger);
    border: 0;
    color: var(--text-bright);

    &:hover {
      color: #000000aa;
    }
  }
}


.input {
  width: 100%;
  height: 38px;
  background: #fff1;
  color: #fff;
  padding-left: 10px;
  border: 0;
  border-radius: 0.25rem;

}



.textarea {
  width: 100%;
  height: 140px;
  background: rgba(255, 255, 255, 0.0666666667);
  color: #fff;
  padding-left: 10px;
  border: 0;
  border-radius: 0.25rem;
  resize: vertical;
}

.select{
  width: 100%;
  height: 38px;
  background: #fff1;
  color: #fff;
  padding-left: 10px;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;

  option {
    color: #000;
  }
}

.select2-dropdown {
  z-index:99999;
}

.select2.select2-container--default {
  width: 100% !important;

  .select2-selection.select2-selection--single {
    height: 38px;
    background-color: rgba(255, 255, 255, 0.0666666667);
    color: #fff;
    padding-left: 10px;
    border: 0;
    border-radius: 0.25rem;

    .select2-selection__rendered {
      color: #fff;
      line-height: 38px;
    }
    .select2-selection__arrow {
      height: 38px;
    }
  }
}

.select2-container.select2-container--default .select2-dropdown {
  background-color: #161c26;
  border: 1px solid #242932;

  .select2-search--dropdown .select2-search__field {
    background: #262b34;
    color: var(--text-default);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .select2-results__option--selected {
    background-color: #0f2859;
  }
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}