<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Akademia</h1>

<div layout:fragment="content">

    <div th:if="${#fields.hasErrors('turtleTrainingForm.*')}" class="trainingError mb-2">
        <strong>Nie udało się wykonać tej akcji</strong>
        <ul>
            <li th:each="err : ${#fields.errors('turtleTrainingForm.*')}" th:text="${err}"/>
        </ul>
    </div>

    <div class="card mb-2" th:if="${user.isUserHaveTurtleOnTraining()}">
        <h3 class="m-0 mb-3">Aktywne</h3>
        <div class="card bg-light flex flex-row gap-4 p-3 mb-2" th:each="turtle : ${user.getTurtles()}"
             th:if="${turtle.getCurrentTraining()}">
            <div class="flex flex-center flex-middle">
                <img th:src="@{${'/assets/images/training/' + turtle.getCurrentTraining().getTraining().id + '.png'}}"
                     style="width: 45px; height: 45px; border-radius: 0.25rem;"/>
            </div>
            <div class="flex flex-column flex-center flex-middle size-wide">
                <strong><a href="#" class="text-primary text-xl" th:text="${turtle.getName()}"></a></strong>
                <div th:text="${turtle.getCurrentTraining().getTraining().getName()}"></div>
            </div>
            <div class="flex flex-column flex-center flex-middle text-center" style="width: 120px;">
                <div class="text-primary" th:id="'countdown-' + ${turtle.getId()}" th:data-target-date="${#temporals.format(turtle.getCurrentTraining().getEndAt(), 'yyyy-MM-dd HH:mm:ss')}"></div>
                <div class="text-sm">
                    Powrót o <span
                        th:text="${#temporals.format(turtle.getCurrentTraining().getEndAt(), 'HH:mm')}"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- nauka -->
    <form action="" method="post" th:each="training : ${trainings}">
        <div class="card mb-2">
            <div class="flex flex-row mb-4 gap-4">
                <div class="flex">
                    <img th:src="@{${'/assets/images/training/' + training.id + '.png'}}"
                         style="width: 175px; height: 175px; border-radius: 0.25rem;"/>
                </div>
                <div>
                    <h2 style="margin-top: 0;" th:text="${training.getName()}"></h2>
                    <ul>
                        <li
                            class="training-item"
                            th:each="item : ${training.getTrainingItemList()}"
                            th:attr="data-cost=${item.getHowMany()}"
                        >
                            <span th:text="${item.getItem().getName()}"></span>
                            (
                            <span th:text="${@academyService.getQuant(user, training, item.getId())}"></span>
                            /
                            <span class="act-target-cost" th:text="${item.getHowMany()}"></span>
                            )
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="size-wide">
                    <select class="select" name="turtle">
                        <option disabled selected>Wybierz żółwia</option>
                        <option th:each="turtle : ${user.getTurtles()}" th:value="${turtle.getId()}"
                                th:text="${turtle.getName()}" th:if="${turtle.isAvailable()}"></option>
                    </select>
                </div>
                <div style="width: 220px;">
                    <select class="select" name="durationTime">
                        <option value="60">1 godz.</option>
                        <option value="180">3 godz.</option>
                        <option value="360">6 godz.</option>
                    </select>
                </div>
                <div style="width: 220px;">
                    <input type="hidden" name="training" th:value="${training.id}"/>
                    <span th:if="${@academyService.ifTrainingCan(user, training)}"><input class="button" type="submit" value="Trenuj"/></span>
                    <span th:unless="${@academyService.ifTrainingCan(user, training)}"><input disabled class="button" type="submit" value="Trenuj"/></span>
                </div>
            </div>
        </div>

    </form>
</div>