<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}" lang="pl">

<h1 layout:fragment="header">Panel administracyjny</h1>

<div layout:fragment="content">

    <div class="card size-wide mb-2">
        <h2 class="m-0 mb-4">Zbanuj użytkownika</h2>
        <div>
            <form th:action="@{/admin-panel/ban-user}" method="POST">
                <div class="mb-2">
                    <label class="text-primary">
                        <strong>Wyszukaj użytkownika:</strong>
                        <select class="select2" name="playerUsername"></select>
                    </label>
                </div>
                <div class="mb-2">
                    <label class="text-primary">
                        <strong>Powód bana:</strong>
                        <textarea class="textarea" id="reason" name="reason" required></textarea>
                    </label>
                </div>
                <div class="mb-2">
                    <label class="text-primary">
                        <strong>Długość bana:</strong>
                        <input type="date" name="banExpireAt" id="banExpireAt" class="input"/>
                    </label>
                </div>
                <button type="submit" class="button mb-2">Zbanuj użytkownika</button>
            </form>
        </div>
    </div>


</div>
</html>