<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/assets/app/app.css"/>
    <script type="application/javascript" src="/assets/app/register.js" defer></script>
    <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <title th:text="${@environment.getProperty('app.name')}"></title>
</head>
<body class="register">

<div class="logo">
    <img src="/assets/images/logo.png" alt="logo"/>
</div>
<div class="form card" id="change-password">
    <h2 class="text-center m-0">Zmień hasło</h2>

    <div th:replace="~{fragments/messagesFragment :: messages}"></div>

    <div class="separator"></div>
    <form th:action="@{/change-password}" method="post">
        <div class="m-2">
            <div class="mb-4">
                <label>
                    Nowe hasło
                    <input type="password" class="input" name="password"/>
                </label>
            </div>
            <div class="mb-4">
                <label>
                    Potwierdź hasło
                    <input type="password" class="input" name="confirmPassword"/>
                </label>
            </div>
        </div>
        <div class="separator"></div>

        <div class="m-2">
            <div class="text-center mb-4">
                <input type="hidden" th:value="${token}" name="token">
                <input type="submit" class="button" value="Zmień hasło"/>
            </div>
        </div>
    </form>

</div>
</body>
</html>
