<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}" lang="pl">

<h1 layout:fragment="header">Wyprawy</h1>

<div layout:fragment="content">

    <div th:if="${#fields.hasErrors('turtleExpeditionForm.*')}" class="errorMessage mb-2">
        <strong>Nie udało się wykonać tej akcji</strong>
        <ul>
            <li th:each="err : ${#fields.errors('turtleExpeditionForm.*')}" th:text="${err}"/>
        </ul>
    </div>

    <!-- aktywne wyprawy -->
    <div class="card mb-2" th:if="${user.isUserHaveTurtleOnExpedition()}">
        <h3 class="m-0 mb-3">Aktywne</h3>

        <!-- aktywna wyprawa -->
        <div class="card bg-light flex flex-row gap-4 p-3 mb-2" th:each="turtle : ${user.getTurtles()}"
             th:if="${turtle.getCurrentExpedition()}">
            <div class="flex flex-center flex-middle">
                <img th:src="@{${'/assets/images/expedition/' + turtle.getCurrentExpedition().getExpedition().id + '.png'}}"
                     style="width: 45px; height: 45px; border-radius: 0.25rem;" alt="expedition"/>
            </div>
            <div class="flex flex-column flex-center flex-middle size-wide">
                <strong><a href="#" class="text-primary text-xl" th:text="${turtle.getName()}"></a></strong>
                <div th:text="${turtle.getCurrentExpedition().getExpedition().getName()}"></div>
            </div>
            <div class="flex flex-column flex-center flex-middle text-center" style="width: 120px;">
                <div class="text-primary" th:id="'countdown-' + ${turtle.getId()}" th:data-target-date="${#temporals.format(turtle.getCurrentExpedition().getEndAt(), 'yyyy-MM-dd HH:mm:ss')}"></div>
                <div class="text-sm">
                    Powrót o <span
                        th:text="${#temporals.format(turtle.getCurrentExpedition().getEndAt(), 'HH:mm')}"></span>
                </div>
            </div>
        </div>
        <!-- end of wyprawa -->

    </div>
    <!-- end of aktywne wyprawy -->

    <!-- wyprawa -->
    <form action="" method="post" th:each="expedition : ${expeditions}">
        <div class="card mb-2">
            <div class="flex flex-row mb-4 gap-4">
                <div class="flex">
                    <img th:src="@{${'/assets/images/expedition/' + expedition.id + '.png'}}"
                         style="width: 175px; height: 175px; border-radius: 0.25rem;" alt="expedition"/>
                </div>
                <div>
                    <h2 style="margin-top: 0;" th:text="${expedition.getName()}"></h2>
                    <div th:text="${expedition.getDescription()}"></div>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="flex flex-row gap-4 size-wide">
                        <select class="select" name="turtle">
                            <option disabled selected>Wybierz żółwia</option>
                            <option th:each="turtle : ${user.getTurtles()}" th:value="${turtle.getId()}"
                                    th:text="${turtle.getName()}" th:if="${turtle.isAvailable()}"></option>
                        </select>
                </div>
                <div class="flex flex-row gap-4" style="width: 220px;">
                        <select class="select" name="durationTime">
                            <option value="30">30 minut</option>
                            <option value="60">1 godz.</option>
                            <option value="120">2 godz.</option>
                            <option value="180">3 godz.</option>
                            <option value="240">4 godz.</option>
                            <option value="300">5 godz.</option>
                            <option value="360">6 godz.</option>
                        </select>
                </div>
                <div class="flex flex-row" style="width: 220px;">
                    <input type="hidden" name="expedition" th:value="${expedition.id}"/>
                    <input class="button" type="submit" value="Wyślij"/>
                </div>
            </div>
        </div>

    </form>
</div>