<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/assets/app/app.css"/>
    <script type="application/javascript" src="/assets/app/register.js" defer></script>
    <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <title th:text="${@environment.getProperty('app.name')}"></title>
</head>

<body class="register">

<div class="logo">
    <img src="/assets/images/logo.png" alt="logo"/>
</div>


<div id="login-form" class="form card" th:classappend="${context == 'login' ? '' : 'hidden'}">
    <h2 class="text-center m-0">Zaloguj</h2>
    <div class="separator"></div>
    <div th:fragment="messages" class="errorMessage mb-2" th:if="${failedMessage}" role="alert">
        <span th:text="${failedMessage}"></span>
        <button type="button" class="closeButton">&times;</button>
    </div>
    <form th:action="@{/login}" method="POST">

        <div class="m-2">
            <div class="mb-4">
                <label>
                    Nazwa użytkownika
                    <input class="input" name="username"/>
                </label>
            </div>

            <div class="mb-4">
                <label>
                    Hasło
                    <input class="input" type="password" name="password"/>
                </label>
            </div>
        </div>

        <div class="separator"></div>

        <div class="m-2">
            <div class="text-center mb-4">
                <input type="submit" class="button" value="Zaloguj"/>
            </div>
            <div class="text-center">
                <a href="#" class="link" onclick="switchForms('registration-form');">Załóż konto</a>
            </div>
            <div class="text-center">
                <a href="#" class="link" onclick="switchForms('remind-password-form');">Przypomnij hasło</a>
            </div>
        </div>
    </form>
</div>

<div id="remind-password-form" class="form card hidden">
    <h2 class="text-center m-0">Przypomnij hasło</h2>
    <div class="separator"></div>
    <form th:action="@{/remind-password}" method="post">
        <div class="m-2">
            <div class="mb-4">
                <label>
                    Adres email
                    <input class="input" name="email"/>
                </label>
            </div>
        </div>
        <div class="separator"></div>

        <div class="m-2">
            <div class="text-center mb-4">
                <input type="submit" class="button" value="Przypomnij hasło"/>
            </div>
            <div class="text-center">
                <a href="#" class="link" onclick="switchForms('login-form');">Wróć do logowania</a>
            </div>
        </div>
    </form>

</div>

<div id="registration-form" class="form card" th:classappend="${context == 'register' ? '' : 'hidden'}">
    <h2 class="text-center m-0">Zarejestruj</h2>

    <div class="separator"></div>

    <form th:action="@{/registration}" method="POST" th:object="${userDTO}">

        <div class="m-2">

            <div class="mb-4">
                <label>
                    E-mail
                    <input class="input" type="text" id="email" name="email" th:field="*{email}" required/>
                </label>
                <div th:if="${#fields.hasErrors('email')}" class="text-danger" role="alert">
                    <span th:errors="*{email}"></span>
                </div>
            </div>

            <div class="mb-4">
                <label>
                    Nazwa użytkownika
                    <input class="input" type="text" id="username" name="username" th:field="*{username}"
                           autocomplete="off" required/>
                </label>
                <div th:if="${#fields.hasErrors('username')}" class="text-danger" role="alert">
                    <span th:errors="*{username}"></span>
                </div>
            </div>

            <div class="mb-4">
                <label>
                    Hasło
                    <input class="input" type="password" id="password" name="password" th:field="*{password}"
                           autocomplete="off" required/>
                </label>
                <div th:if="${#fields.hasErrors('password')}" class="text-danger" role="alert">
                    <span th:errors="*{password}"></span>
                </div>
            </div>

        </div>

        <div class="separator"></div>

        <div class="m-2">
            <div class="text-center mb-4">
                <input type="submit" class="button" value="Zarejestruj"/>
            </div>
            <div class="text-center">
                <a href="#" class="link" onclick="switchForms('login-form');">Wróć do logowania</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>