<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>TurtleBlast</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header>
    <div class="header-left"></div>
    <div class="header-center">
        <a href="#" class="title" th:text="${application.name}"></a>
    </div>
    <div class="header-right"></div>
</header>

<div class="login-panel">
    <h3>Zaloguj się</h3>
    <form th:action="@{/login}" method="POST">
        <p><input type="text" id="username" name="username" placeholder="Login" required></p>
        <p><input type="password" id="password" name="password" placeholder="Hasło" required></p>
        <p>
            <label>
                <input type="checkbox"/> Zapamiętaj mnie
            </label>
        </p>
        <a href="#">Nie pamiętam hasła</a>
        <input type="submit" class="button" value="Zaloguj"/>
        <input type="button" class="button" value="Zarejestruj"/>
    </form>
</div>

<div class="info-panel">
    <div>
        <p>TurtleBlast</p>
        <p>Gra w której wcielasz się w hodowcę żółwi :)</p>
    </div>
    <div class="info-panel-stats">
        <p>Liczba graczy: 1000</p>
        <p>Liczba żółwi: 1000</p>
    </div>
</div>

<div class="news">Aktualizacje i ogłoszenia</div>

<div class="rank-panel">
    <div>
        Ranking graczy
    </div>
    <div>
        Ranking żółwi
    </div>
    <div>
        <ol>
            <li>ProudTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
        </ol>
    </div>
    <div>
        <ol>
            <li>ProudTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
            <li>SadTurtle</li>
        </ol>
    </div>
</div>

<footer>
    <span>TurtleBlast 2022</span>
</footer>
</body>
</html>
