<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Ekwipunek</h1>

<div layout:fragment="content">
    <!-- items -->
    <div class="card size-wide mb-2">
        <h4 class="text-primary m-0 mb-4">Ekwipunek</h4>
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 33.3%);">

            <!-- item -->
            <div th:each="item : ${items}"  th:unless="${item.turtle != null and item.turtle.id != null}">
                <div class="card p-3 m-1">
                    <div class="flex flex-row gap-4">
                        <div class="flex flex-center flex-middle">
                            <img th:src="@{${'/assets/images/items/' + item.getItem().getId() + '.png'}}" style="width: 60px; border-radius: 0.25rem;"/>
                        </div>
                        <div class="size-wide">
                            <a th:href="@{/items/{id}/details(id = ${item.getItem().getId()})}">
                            <button class="but mb-1" th:text="${item.getItem().getName()}"></button>
                            </a>
                            <div class="text-muted text-sm"  th:text="${item.getItem().getItemType().getName()}"></div>
                        </div>
                        <div class="flex flex-right flex-middle">
                            <strong class="text-primary" th:text="${item.getQuantity()}"></strong>
                        </div>
                    </div>
                </div>
                <!-- end of item -->
            </div>
        </div>
    </div>
    <!-- end of items -->

</div>