<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}" lang="pl">

<div th:if="${errorMessage}" class="errorMessage mb-2">
  <strong>Nie udało się wykonać tej akcji</strong>
  <span th:text="${errorMessage}"></span>
</div>

<h1 layout:fragment="header">Szczegóły przedmiotu <span th:text="${item.getItem().getName()}"></span></h1>

<div layout:fragment="content">

  <form method="post" th:action="@{'/items/' + ${item.getItem().getId()} + '/details'}">
    <div class="card mb-2">
      <h2 style="margin-top: 0;"><span th:text="${item.getItem().getName()}"></span></h2>

      <div class="flex flex-row mb-4 gap-4">
        <div class="flex flex-middle flex-center">
          <img src="/assets/images/food/apple.png" style="width: 155px; border-radius: 0.25rem;"/>
        </div>
        <table class="size-wide">
          <tr>
            <td style="width: 30%; vertical-align: top;">
              <div class="mb-1">Opis: <span class="text-primary" th:text="${item.getItem().getDescription()}"></span></div>
              <br/>
              <div class="mb-1">Typ: <span class="text-primary" th:text="${item.getItem().getItemType().getName()}"></span></div>
              <br/>
              <div class="mb-1">Rzadkość: <span class="text-primary" th:text="${item.getItem().getRarity().getName()}"></span></div>
            </td>
            <td style="width: 30%; vertical-align: top;">
              <div th:if="${item.getItem().getItemType().getName() != 'Jajko'}" th:each="stat : ${item.getItem().getItemStatisticList()}">
                <div class="mb-1"><span th:text="${stat.getStatistic().getName()}"></span>: <span class="text-primary" th:text="${stat.getValue()}"></span></div>
              </div>
              <div th:if="${item.getItem().getItemType().getName() == 'Jajko'}">
                <div class="mb-1">Typ jajka: <span class="text-primary" th:text="${item.getItem().getTurtleType().getDescription()}"></span></div>
                <div class="mb-1">Rodzaj jajka: <span class="text-primary" th:text="${item.getItem().getTurtleType().getName()}"></span></div>
              </div>
            </td>
            <td style="width: 40%;">
              <div class="mb-1">Ilość: <span class="text-primary" th:text="${item.getQuantity()}"></span></div>
              <button type="button" class="button mb-2" th:onclick="'openPopupSellItem(' + ${item.getItem().getId()} + ')'">Sprzedaj</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

<div layout:fragment="popups">
  <div id="popup-sell-item" class="popup-backdrop" style="display: none;">
    <form class="popup" action="" method="post">
      <h3>Ustal cenę</h3>
      <div class="popup-content">
        <label for="sell-item-popup-gold"><b>Ilość złota:</b></label>
        <input class="input" type="text" id="sell-item-popup-gold" name="Gold" required="">
        <label for="sell-item-popup-quantity"><b>Ilość:</b></label>
        <input class="input" type="number" min="1" id="sell-item-popup-quantity" name="Quantity" required>
      </div>
      <div class="popup-buttons">
        <button type="submit" class="button">Sprzedaj</button>
      </div>
    </form>
  </div>

</div>
