<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<div layout:fragment="content">

    <div th:each="news : ${news}">
        <div class="card" style="margin-bottom: 5px">
            <div class="mb-2">
                <div th:if="${user.getRole().getName() == 'ADMIN'}">
                    <i class="fa-solid fa-pen-to-square act-edit-post" style="float: right; cursor:pointer" th:attr="data-title=${news.getTitle()},data-content=${news.getContent()}, data-id=${news.getId()}"></i>
                </div>
                <h2 th:text="${news.getTitle()}" class="m-0"></h2>
                <div>Autor: <span th:text="${news.getAuthor().getUsername()}"
                                  th:style="'color: ' + (${news.getAuthor().getRole().getColor() ?: ''})"></span>, data:
                    <span th:text="${#temporals.format(news.getReleaseDate(), 'dd.MM.yyyy')}"></span></div>
            </div>
            <div th:utext="${news.getContent()}"></div>
        </div>
    </div>
    <div th:if="${user.getRole().getName() == 'ADMIN'}">
        <div class="card">
            <div class="size-wide act-add-post" style="cursor: pointer;">
                <strong>Dodaj nowe ogłoszenie</strong>
            </div>
            <div class="new-news-content hidden" style="margin-top: 1.5rem;">
                <form th:action="@{/news/create}" method="POST">
                    <div class="mb-4">
                        <label>
                            <strong>Tytuł</strong>
                            <input class="input" autocomplete="off" name="title" minlength="2" required>
                        </label>
                    </div>
                    <div class="mb-4">
                        <label for="content">
                            <strong>Treść</strong>
                        </label>
                        <textarea class="textarea" id="content" name="content" required></textarea>
                    </div>
                    <div>
                        <button type="submit" class="button">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${user.getRole().getName() == 'ADMIN'}" style="margin-top: 10px;">
        <div class="card edit-news hidden">
            <form th:action="@{/news/edit}" method="POST">
                <div class="mb-4">
                    <label>
                        <strong>Tytuł</strong>
                        <input class="input" autocomplete="off" name="edit-title" id="edit-title" minlength="2" required>
                    </label>
                </div>
                <div class="mb-4">
                    <label for="edit-content">
                        <strong>Treść</strong>
                    </label>
                    <textarea class="textarea" id="edit-content" name="edit-content" required></textarea>
                </div>
                <div>
                    <input type="hidden" name="news-id"/>
                    <button type="submit" class="button">Zapisz zmiany</button>
                </div>
            </form>
        </div>
    </div>
</div>