<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Rynek</h1>

<div layout:fragment="content">

    <div class="card mb-2">

        <div class="private-message-header">
            <div class="header-container">
                <h2 id="turtles-header" class="active-header"><a th:href="@{'/market?sortType=Turtle&sortField=turtle_id&sortDir=asc'}">Żółwie</a></h2>
                <h2 id="items-header"><a th:href="@{'/market?sortType=Item&sortField=turtle_id&sortDir=asc'}">Przedmioty</a></h2>
            </div>
        </div>
        <div id="turtles-selling">
            <div class="card mb-2 text-center m-0 sp">
                    <a th:href="@{'/market?sortType=Turtle&sortField=name&sortDir=' + ${reverseSortDir}}"><button class="but">Nazwa
                        <span th:if="${sortField == 'name'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Turtle&sortField=type&sortDir=' + ${reverseSortDir}}"><button class="but">Gatunek
                        <span th:if="${sortField == 'type'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Turtle&sortField=level&sortDir=' + ${reverseSortDir}}"><button class="but">Poziom
                        <span th:if="${sortField == 'level'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Turtle&sortField=price&sortDir=' + ${reverseSortDir}}"><button class="but">Cena
                        <span th:if="${sortField == 'price'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
            </div>
            <div class="card mb-2" th:each="turtle : ${turtles}">
                <h2 class="text-center m-0 mb-4" th:text="${turtle.getName()}"></h2>
                <div class="flex flex-row gap-4">
                    <div class="flex flex-middle flex-center">
                        <img src="/assets/images/turtles/fire.png" style="width: 155px; border-radius: 0.25rem;"/>
                    </div>
                    <table class="size-wide">
                        <tr>
                            <td style="width: 30%; vertical-align: top;">
                                <div class="mb-1">Poziom: <span class="text-primary" th:text="${turtle.getLevel()}"></span>
                                </div>
                                <div class="mb-1">Żywioł: <span class="text-primary">Ogień</span></div>
                               </td>
                            <td style="width: 30%; vertical-align: top;">
                                <div th:each="stat : ${turtle.getTurtleStatisticList()}">
                                    <div class="mb-1"><span th:text="${stat.getStatistic().getName()}"></span>: <span class="text-primary" th:text="${stat.getValue()}"></span></div>
                                </div>
                            </td>
                            <td style="width: 40%;">
                                <div class="text-primary"><b>Cena: </b><span class="text-primary" th:text="${@marketService.priceShells(turtle)}"> muszelek</span></div>
                                <br/>
                                <form th:classappend="${@marketService.sellerIsBuyer(user, turtle) == 1 ? 'hidden' : ''}" th:action="@{'/market/' + ${turtle.getId()} + '/buyTurtle'}" method="post">
                                    <button type="submit" class="button mb-2" onclick="buyTurtleConfirm(this)">Kup żółwia</button>
                                </form>
                                <form th:classappend="${@marketService.sellerIsBuyer(user, turtle) == 1 ? '' : 'hidden'}" th:action="@{'/market/' + ${turtle.getId()} + '/undoTurtle'}" method="post">
                                    <button type="submit" class="button mb-2" onclick="undoTurtleConfirm(this)">Wycofaj żółwia</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div id="items-selling" class="hidden">
            <div class="card mb-2">
                <h2 class="text-center m-0 sp">
                    <a th:href="@{'/market?sortType=Item&sortField=name&sortDir=' + ${reverseSortDir}}"><button class="but">Nazwa
                        <span th:if="${sortField == 'name'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Item&sortField=type&sortDir=' + ${reverseSortDir}}"><button class="but">Typ
                        <span th:if="${sortField == 'type'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Item&sortField=rarity&sortDir=' + ${reverseSortDir}}"><button class="but">Unikalność
                        <span th:if="${sortField == 'rarity'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                    <a th:href="@{'/market?sortType=Item&sortField=price&sortDir=' + ${reverseSortDir}}"><button class="but">Cena
                        <span th:if="${sortField == 'price'}" th:class="${sortDir == 'asc' ? 'fa-solid fa-chevron-down' : 'fa-solid fa-chevron-up'}"></span></button></a>
                </h2>
            </div>
            <div class="p-3">
                <h3>Jajka</h3>
                    <div class="card mb-2" th:each="egg : ${eggs}">
                        <h2 class="text-center m-0 mb-4" th:text="${egg.getName()}"></h2>
                        <div class="flex flex-row gap-4">
                            <div class="flex flex-middle flex-center">
                                <img src="/assets/images/eggs/light.png" style="width: 155px; border-radius: 0.25rem;"/>
                            </div>
                            <table class="size-wide">
                                <tr>
                                    <td style="width: 30%; vertical-align: top;">
                                        <div class="mb-1">Żywioł <span class="text-primary">Światło</span></div>
                                        <div class="mb-1">Unikalność: <span class="text-primary" th:text="${egg.getRarity().getName()}"></span>
                                        </div>
                                    </td>
                                    <td style="width: 40%;">
                                        <div class="text-primary"><b>Cena: </b><span class="text-primary" th:text="${@marketService.priceGold(egg)}"> złota</span></div>
                                        <br/>
                                        <form th:classappend="${@marketService.sellerIsBuyerItem(user, egg) == 1 ? 'hidden' : ''}" th:action="@{'/market/' + ${egg.getId()} + '/buyItem'}" method="post">
                                            <button type="submit" class="button mb-2" onclick="buyEggConfirm(this)">Kup jajko</button>
                                        </form>
                                        <form th:classappend="${@marketService.sellerIsBuyerItem(user, egg) == 1 ? '' : 'hidden'}" th:action="@{'/market/' + ${egg.getId()} + '/undoItem'}" method="post">
                                            <button type="submit" class="button mb-2" onclick="undoEggConfirm(this)">Wycofaj jajko</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
            <div class="p-3">
                <h3>Przedmioty</h3>
                    <div class="card mb-2" th:each="item : ${items}">
                        <h2 class="text-center m-0 mb-4" th:text="${item.getName()}"></h2>
                        <div class="flex flex-row gap-4">
                            <div class="flex flex-middle flex-center">
                                <img src="/assets/images/academyItems/diamondRuby.png" style="width: 155px; border-radius: 0.25rem;"/>
                            </div>
                            <table class="size-wide">
                                <tr>
                                    <td style="width: 30%; vertical-align: top;">
                                        <div class="mb-1">Typ przedmiotu: <span class="text-primary" th:text="${item.getItemType().getName()}"></span></div>
                                        <div class="mb-1">Unikalność: <span class="text-primary" th:text="${item.getRarity().getName()}"></span>
                                        </div>
                                    </td>
                                    <td style="width: 40%;">
                                        <div class="text-primary"><b>Cena: </b><span class="text-primary" th:text="${@marketService.priceGold(item)}"> złota</span></div>
                                        <br/>
                                        <form th:classappend="${@marketService.sellerIsBuyerItem(user, item) == 1 ? 'hidden' : ''}" th:action="@{'/market/' + ${item.getId()} + '/buyItem'}" method="post">
                                            <button type="submit" class="button mb-2" onclick="buyItemConfirm(this)">Kup przedmiot</button>
                                        </form>
                                        <form th:classappend="${@marketService.sellerIsBuyerItem(user, item) == 1 ? '' : 'hidden'}" th:action="@{'/market/' + ${item.getId()} + '/undoItem'}" method="post">
                                            <button type="submit" class="button mb-2" onclick="undoItemConfirm(this)">Wycofaj przedmiot</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
            </div>
        </div>

    </div>

</div>
