<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Rynek</h1>

<div layout:fragment="content">

    <div class="card mb-2">


        <div class="private-message-header">
            <div class="header-container">
                <h2 id="turtles-header" class="active-header">Żółwie</h2>
                <h2 id="items-header">Przedmioty</h2>
            </div>
        </div>
        <div id="turtles-selling">

        </div>

    </div>

</div>
