<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Legowisko</h1>

<div layout:fragment="content">

    <!-- inkubacja -->
    <div class="card mb-2">
        <h3 class="m-0 mb-3">Inkubator</h3>

        <!-- aktywna inkubacja -->
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 200px);">
            <!-- egg -->
            <div class="card p-3 m-1 text-center" th:each="egg : ${user.getEggs()}">
                <img src="/assets/images/eggs/fire.png" style="height: 120px;"/>
                <h4 class="text-primary m-1" th:text="${egg.getName()}"></h4>
                <h5 class="m-0">Żywioł <span class="text-primary">Dym</span></h5>
                <div th:if="${egg.getWarming() == 0}">Żółw jest ogrzany.</div>
                <div th:if="${egg.getWarming() != 0}">
                    <form th:action="@{'/nest/' + ${egg.getId()} + '/warm'}" method="post">
                        <button type="submit" class="button mb-2">Ogrzej</button>
                    </form>
                </div>
            </div>
            <!-- end of egg -->
        </div>
        <!-- end of inkubacja -->

    </div>
    <!-- end of inkubacja -->

    <!-- adopcja -->
    <div class="card mb-2">
        <h3 class="m-0 mb-3">Żółwie do adopcji</h3>

        <div style="display: grid; grid-template-columns: repeat(auto-fill, 200px);">
            <!-- egg -->
            <div class="card p-3 m-1 text-center" th:each="egg : ${eggs}">
                <img src="/assets/images/eggs/fire.png" style="height: 120px;"/>
                <h4 class="text-primary m-1" th:text="${egg.getName()}"></h4>
                <h5 class="m-0">Żywioł <span class="text-primary">Dym</span></h5>
                <button class="button mb-2" onclick="openForm()">Adoptuj</button>
                <form th:action="@{'/nest/' + ${egg.getId()} + '/delete'}" method="post">
                    <button type="submit" class="button mb-2" onclick="abandonTurtleConfirm(this)">Porzuć</button>
                </form>
                <div class="form-popup" id="myForm">
                    <h1>Nadaj imię</h1>
                    <form th:action="@{'/nest/' + ${egg.getId()} + '/adopt'}" method="post">
                        <label for="Name"><b>Imię</b></label>
                        <input class="input" type="text" id="Name" name="Name" required>
                        <button type="submit" class="button mb-2" onclick="adoptEggConfirm(this)">Adoptuj</button>
                    </form>
                    <button type="submit" class="button button-danger mb-3" onclick="closeForm()">Wyjdź</button>
                </div>
            </div>

            <!-- end of egg -->

        </div>

    </div>
    <!-- end of adopcja -->

</div>