<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}" lang="pl">

<h1 layout:fragment="header">Legowisko</h1>

<div layout:fragment="content">

    <!-- inkubacja -->
    <div class="card mb-2">
        <h3 class="m-0 mb-3">Inkubator</h3>

        <!-- aktywna inkubacja -->
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 200px);">
            <!-- egg -->
            <div class="card p-3 m-1 text-center" th:each="egg : ${user.getEggs()}">
                <img th:src="@{${'/assets/images/items/' + egg.getTurtleType().getId() + '.png'}}"
                     style="height: 120px;" alt="jajko"/>
                <h4 class="text-primary m-1" th:text="${egg.getName()}"></h4>
                <h5 class="m-0">Żywioł <span class="text-primary" th:text="${egg.getTurtleType().getName()}"></span>
                </h5>
                <h5>Żółw wykluje się: <span class="text-primary"
                                            th:text="${#temporals.format(egg.getHatchingAt(), 'dd.MM.yyyy HH:mm')}"></span>
                </h5>
                <div th:if="${egg.getWarming() == 0}">Żółw jest ogrzany. Wróć jutro!</div>
                <div th:if="${egg.getWarming() != 0}">
                    <form th:action="@{'/nest/' + ${egg.getId()} + '/warm'}" method="post">
                        <button type="submit" class="button mb-2">Ogrzej</button>
                    </form>
                </div>
            </div>
            <!-- end of egg -->
        </div>
        <!-- end of inkubacja -->

    </div>
    <!-- end of inkubacja -->

    <!-- adopcja -->
    <div class="card mb-2">
        <h3 class="m-0 mb-3">Żółwie do wyklucia</h3>

        <div style="display: grid; grid-template-columns: repeat(auto-fill, 200px);">
            <!-- egg -->
            <div class="card p-3 m-1 text-center" th:each="egg : ${eggs}">
                <img th:src="@{${'/assets/images/items/' + egg.getId() + '.png'}}" style="height: 120px;" alt="jajko"/>
                <h4 class="text-primary m-1" th:text="${egg.getName()}"></h4>
                <h5 class="m-0">Żywioł <span class="text-primary" th:text="${egg.getTurtleType().getName()}"></span>
                </h5>
                <div th:if="${user.canHaveMoreTurtles()}">
                    <button class="button mb-2" th:onclick="'openPopupAdoptEgg(' + ${egg.getId()} + ')'">Adoptuj
                    </button>
                </div>
                <button type="button" class="button mb-2" th:onclick="'openPopupSellEgg(' + ${egg.getId()} + ')'">
                    Sprzedaj
                </button>
            </div>

            <!-- end of egg -->

        </div>

    </div>
    <!-- end of adopcja -->

</div>

<div layout:fragment="popups">

    <div id="popup-adopt-egg" class="popup-backdrop" style="display: none;">
        <form class="popup" action="" method="post">
            <h3>Adoptuj jajko</h3>
            <div class="popup-content">
                <label for="popup-adopt-egg-name"><b>Imię</b></label>
                <input class="input" type="text" id="popup-adopt-egg-name" name="Name" required>
                <div style="margin-top: 2px">
                    <strong>Płeć</strong>
                    <input type="radio" id="boy" name="Gender" value="0" required>
                    <label for="boy"><i class="fa-solid fa-mars" style="color: #1807e7;"></i></label>
                    <input type="radio" id="girl" name="Gender" value="1" required>
                    <label for="girl"><i class="fa-solid fa-venus" style="color: #f530f5;"></i></label>
                </div>
            </div>
            <div class="popup-buttons">
                <button type="submit" class="button">Adoptuj</button>
            </div>
        </form>
    </div>

    <div id="popup-sell-egg" class="popup-backdrop" style="display: none;">
        <form class="popup" action="" method="post">
            <h3>Ustal cenę</h3>
            <div class="popup-content">
                <label for="sell-egg-popup-gold"><b>Ilość złota:</b></label>
                <input class="input" type="number" min="1" id="sell-egg-popup-gold" name="Gold" required="">
                <label for="sell-egg-popup-quantity"><b>Ilość:</b></label>
                <input class="input" type="number" min="1" id="sell-egg-popup-quantity" name="Quantity" required>
            </div>
            <div class="popup-buttons">
                <button type="submit" class="button">Sprzedaj</button>
            </div>
        </form>
    </div>

</div>