<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Prywatne wiadomości</h1>

<div layout:fragment="content">

    <div th:if="${#fields.hasErrors('newMessageDTO.*')}" class="expeditionError mb-2">
        <strong>Nie udało się wykonać tej akcji</strong>
        <ul>
            <li th:each="err : ${#fields.errors('newMessageDTO.*')}" th:text="${err}"/>
        </ul>
    </div>
    <div th:if="${successMessage}" class="successMessage" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="card mb-2">


        <!-- aktywna wyprawa -->
        <div class="private-message-header">
            <div class="header-container">
                <h2 id="received-header" class="active-header">Odebrane</h2>
                <h2 id="sent-header">Wysłane</h2>
                <h2 id="create-header">Utwórz</h2>
            </div>
        </div>
        <div id="received-message">
            <div class="card p-3 m-1 message-container" th:each="message : ${messages}"
                 th:classappend="${message.isRead} ? 'message-read' : 'message-unread'"
                 th:data-message-id="${message.getId()}" onclick="readMessage(this)">
                <div class="flex flex-row gap-4 message-title">
                    <div class="size-wide">
                        <strong>
                            <span th:text="${message.getSender() != null ? message.getSender().getUsername() : 'System'}"></span>:
                            <span th:text="${message.getTitle()}"></span>
                        </strong>
                    </div>
                    <div class="flex flex-right flex-middle message-date"
                         th:text="${#temporals.format(message.getSentAt(), 'dd.MM.yyyy HH:mm')}"></div>
                </div>
                <div class="message-content hidden" style="margin-top: 1rem;">
                    <div class="card bg-light mb-1" th:text="${message.getContent()}">

                    </div>
                    <div class="text-primary mb-2"
                         th:if="${message.getGold() > 0 or !message.getAttachment().isEmpty()}">
                        <i
                                class="fa-solid fa-paperclip"></i> Załączniki:
                    </div>
                    <div th:if="${message.getGold()}">
                        <img src="/assets/images/gold.png" width="20" height="20">
                        <span th:text="${message.getGold()}"></span>
                    </div>
                    <div class="display: flex-row" th:each="attachment : ${message.getAttachment()}">
                        <div>
                            <img src="/assets/images/items/scroll.png" width="20" height="20">
                            <span th:text="${attachment.getItem().getName()}"></span>: <span
                                th:text="${attachment.getQuantity()}"></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <span th:if="${message.getSender()}">
                            <button class="button mb-2 reply-button" th:attr="data-sender=${message.getSender().getUsername()},data-title=${message.getTitle()}">Odpowiedz</button>
                        </span>
                        <form th:action="@{'/private-message/' + ${message.getId()} + '/delete'}" method="post">
                            <button class="button button-danger mb-2" onclick="deleteMessage(this)">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="sent-message" class="hidden">
            <div class="card p-3 m-1 message-container" th:each="message : ${sentMessages}">
                <div class="flex flex-row gap-4 message-title">
                    <div class="size-wide">
                        <strong>
                            <i class="fa-solid fa-paper-plane"></i> <span
                                th:text="${message.getRecipient() != null ? message.getRecipient().getUsername() : 'Użytkownik nieznaleziony'}"></span>:
                            <span th:text="${message.getTitle()}"></span>
                        </strong>
                    </div>
                    <div class="flex flex-right flex-middle message-date"
                         th:text="${#temporals.format(message.getSentAt(), 'dd.MM.yyyy HH:mm')}"></div>
                </div>
                <div class="message-content hidden" style="margin-top: 1rem;">
                    <div class="card bg-light mb-1" th:text="${message.getContent()}">

                    </div>
                    <div class="text-primary mb-2"
                         th:if="${message.getGold() > 0 or !message.getAttachment().isEmpty()}">
                        <i
                                class="fa-solid fa-paperclip"></i> Załączniki:
                    </div>
                    <div th:if="${message.getGold()}">
                        <img src="/assets/images/gold.png" width="20" height="20">
                        <span th:text="${message.getGold()}"></span>
                    </div>
                    <div class="display: flex-row" th:each="attachment : ${message.getAttachment()}">
                        <div>
                            <img src="/assets/images/items/scroll.png" width="20" height="20">
                            <span th:text="${attachment.getItem().getName()}"></span>: <span
                                th:text="${attachment.getQuantity()}"></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <form th:action="@{'/private-message/' + ${message.getId()} + '/delete'}" method="post">
                            <button class="button button-danger mb-2" onclick="deleteMessage(this)">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id='create-message' class="card p-3 m-1 new-message-container hidden">
            <form th:action="@{/private-message/create}" method="POST">
                <div class="m-2">
                    <label class="mb-4">
                        <b>Adresat</b>
                        <select class="select2" name="recipient"></select>
                    </label>
                </div>

                <div class="m-2">
                    <div class="mb-4">
                        <label>
                            <b>Tytuł</b>
                            <input class="input" autocomplete="off" name="title" minlength="2" required>
                        </label>
                    </div>
                </div>

                <div class="m-2">
                    <div class="mb-4">
                        <label for="content"><b>Treść</b></label>
                        <textarea class="textarea" id="content" name="content" required></textarea>
                    </div>
                </div>

                <div class="m-2">
                    <div class="mb-4">
                        <label for="gold"><img src="/assets/images/gold.png" width="20" height="20"></label>
                        <input class="input" id="gold" name="gold" style="width: 100px;">
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="button mb-2">Wyślij</button>
                </div>
            </form>
        </div>


    </div>

</div>