<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="top-bar">
    <a href="#" class="title">TurtleBlast</a>
</div>
<div class="container">
    <div class="menu-panel">
        <a href="/expeditions">Wyprawy</a>
    </div>
    <div clas = "right-content">
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </div>
</div>

<footer>
    <span>TurtleBlast 2022</span>
</footer>
</body>
</html>
