<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}" lang="pl">

<h1 layout:fragment="header">Szczegóły żółwia <span th:text="${turtle.getName()}"></span></h1>

<div layout:fragment="content">

    <div class="card mb-2" style="display: grid;
grid-template-columns: repeat(2, 1fr);">
        <!-- szczegóły żółwia-->
        <div>
            <div class="flex flex-middle flex-center">
                <img src="/assets/images/turtles/fire.png" style="width: 155px; border-radius: 0.25rem;"/>
            </div>
            <div style="text-align: center">
                <h3 class="mb-1"><span th:text="${turtle.getName()}"></span></h3>
                <div class="mb-1">Poziom: <span class="text-primary" th:text="${turtle.getLevel()}"></span>
                </div>
                <div class="mb-1">Żywioł: <span class="text-primary"
                                                th:text="${turtle.getTurtleType().getName()}"></span>
                </div>
                <div class="mb-1">Energia: <span class="text-primary" th:text="${turtle.getEnergy()}"></span></div>
                <div class="mb-1">HP: <span class="text-primary" th:text="${turtle.getHPtoFight()}"></span></div>
                <!-- end of wyprawa -->
            </div>
        </div>
        <div>
            <form method="post" th:action="@{'/turtles/' + ${turtle.getId()} + '/details/wear'}">
                <div class="m-2">
                    <select class="select" name="helmetId">
                        <option value="">brak</option>
                        <option th:each="helmet : ${helmets}" th:value="${helmet.getItem().getId()}"
                                th:if="${helmet.getTurtle() == null || helmet.getTurtle().equals(turtle)}"
                                th:text="${helmet.getItem().getName()+ ' (+' + helmet.getItem().getItemStatistic().getValue() + ' ' + helmet.getItem().getItemStatistic().getStatistic().getName() + ')'}">
                        </option>
                        <option th:if="${turtle.getHelmet() != null}"
                                th:value="${turtle.getHelmet().getItem().getId()}"
                                th:text="${turtle.getHelmet().getItem().getName() + ' (+' + turtle.getHelmet().getItem().getItemStatistic().getValue() + ' ' + turtle.getHelmet().getItem().getItemStatistic().getStatistic().getName() + ')'}"
                                th:selected="selected">

                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select class="select" name="weaponId">
                        <option value="">brak</option>
                        <option th:each="sword : ${swords}" th:value="${sword.getItem().getId()}"
                                th:if="${sword.getTurtle() == null || sword.getTurtle().equals(turtle)}"
                                th:text="${sword.getItem().getName() + ' (+' + sword.getItem().getItemStatistic().getValue() + ' ' + sword.getItem().getItemStatistic().getStatistic().getName() + ')'}">
                        </option>
                        <option th:if="${turtle.getSword() != null}"
                                th:value="${turtle.getSword().getItem().getId()}"
                                th:text="${turtle.getSword().getItem().getName() + ' (+' + turtle.getSword().getItem().getItemStatistic().getValue() + ' ' + turtle.getSword().getItem().getItemStatistic().getStatistic().getName() + ')'}"
                                th:selected="selected">

                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select class="select" name="wandId">
                        <option value="">brak</option>
                        <option th:each="wand : ${wands}" th:value="${wand.getItem().getId()}"
                                th:if="${wand.getTurtle() == null || wand.getTurtle().equals(turtle)}"
                                th:text="${wand.getItem().getName()+ ' (+' + wand.getItem().getItemStatistic().getValue() + ' ' + wand.getItem().getItemStatistic().getStatistic().getName() + ')'}">
                        </option>
                        <option th:if="${turtle.getWand()  != null}"
                                th:value="${turtle.getWand().getItem().getId()}"
                                th:text="${turtle.getWand().getItem().getName()+ ' (+' + turtle.getWand().getItem().getItemStatistic().getValue() + ' ' + turtle.getWand().getItem().getItemStatistic().getStatistic().getName() + ')'}"
                                th:selected="selected">

                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select class="select" name="bootsId">
                        <option value="">brak</option>
                        <option th:each="bootsPair : ${boots}" th:value="${bootsPair.getItem().getId()}"
                                th:if="${bootsPair.getTurtle() == null || bootsPair.getTurtle().equals(turtle)}"
                                th:text="${bootsPair.getItem().getName()+ ' (+' + bootsPair.getItem().getItemStatistic().getValue() + ' ' + bootsPair.getItem().getItemStatistic().getStatistic().getName() + ')'}">
                        </option>

                        <option th:if="${turtle.getBoots()  != null}"
                                th:value="${turtle.getBoots().getItem().getId()}"
                                th:text="${turtle.getBoots().getItem().getName()+ ' (+' + turtle.getBoots().getItem().getItemStatistic().getValue() + ' ' + turtle.getBoots().getItem().getItemStatistic().getStatistic().getName() + ')'}"
                                th:selected="selected">
                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <input type="hidden" name="turtleId" th:value="${turtle.id}"/>
                    <input class="button" type="submit" value="Wyposaż"/>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-2">
        <h3 class="m-0 text-center">Akcje</h3>
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 33.3%);">
            <div class="p-3 m-1">
                <a th:href="@{/turtles/{id}/fight-history(id = ${turtle.id})}">
                    <button class="button">Historia walk</button>
                </a>
            </div>
            <div class="p-3 m-1">
                <form th:action="@{'/turtles/' + ${turtle.getId()} + '/delete'}" method="post">
                    <button type="submit" class="button" onclick="abandonTurtleConfirm(this)">
                        Porzuć żółwia
                    </button>
                </form>
            </div>
            <div class="p-3 m-1">
                <button type="button" class="button" th:onclick="'openPopupSellTurtle(' + ${turtle.getId()} + ')'">
                    Sprzedaj żółwia
                </button>
            </div>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 0.5rem;">
        <div class="card mb-2">
            <!-- karmienie -->
            <form method="post" th:action="@{'/turtles/' + ${turtle.getId()} + '/details'}">
                <h2 style="margin-top: 0;">Nakarm żółwia</h2>
                <div class="flex flex-row mb-4 gap-4">
                    <div th:if="${!foods.isEmpty()}">
                        <ul>
                            <li style=" list-style: none;"
                                th:each="food : ${foods}">
                                <img src="/assets/images/items/scroll.png" alt="item"/>
                                <span th:text="${food.getName()}"></span> wzmacnia umiejętność: <span
                                    th:text="${food.getItemStatistic(food.getId()).getStatistic().getName()}"></span>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${foods.isEmpty()}">Brak pokarmu dla żółwi. Wyślij swojego żółwia na <a
                            href="/expeditions">wyprawę</a> albo kup pokarm w sklepie!
                    </div>
                </div>
                <div class="flex flex-row gap-4" th:if="${!turtle.isFed()}">
                    <div class="flex flex-row gap-4 size-wide">
                        <select class="select" name="foodId" required>
                            <option disabled selected>Wybierz pokarm</option>
                            <option th:each="food : ${foods}" th:value="${food.getId()}"
                                    th:text="${food.getName()}"></option>
                        </select>
                    </div>
                    <div class="flex flex-row" style="width: 220px;">
                        <input type="hidden" name="turtleId" th:value="${turtle.id}"/>
                        <input class="button" type="submit" value="Nakarm"/>
                    </div>
                </div>
                <div th:if="${turtle.isFed()}">Żółw jest najedzony. Wróć jutro.</div>
            </form>
            <div class="m-2"> Każdy pokarm dodaje 1 punkt do wybranej umiejętności.</div>
        </div>
        <div class="card mb-2 ">
            <h2 style="margin-top: 0;">Statystyki</h2>
            <div style="display: grid;
grid-template-columns: repeat(2, 1fr);
  justify-items: center;
gap: 1rem;">
                <div th:each="stat : ${turtle.getTurtleStatisticList()}" style="text-align: center">
                    <img th:src="@{${'/assets/images/training/' + stat.getStatistic().getId() + '.png'}}" height="75">
                    <div class="mb-1"><span th:text="${stat.getStatistic().getName()}"></span>: <span
                            class="text-primary"
                            th:text="${turtle.getStatistic(stat.getStatistic().getId())}"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
