<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Twoje żółwie</h1>

<div layout:fragment="content">

    <div class="card mb-2" th:each="turtle : ${user.getTurtles()}">
        <h2 class="text-center m-0 mb-4" th:text="${turtle.getName()}"></h2>
        <div class="flex flex-row gap-4">
            <div class="flex flex-middle flex-center">
                <img src="/assets/images/turtles/fire.png" style="width: 155px; border-radius: 0.25rem;"/>
            </div>
            <table class="size-wide">
                <tr>
                    <td style="width: 30%; vertical-align: top;">
                        <div class="mb-1">Poziom: <span class="text-primary" th:text="${turtle.getLevel()}"></span>
                        </div>
                        <div class="mb-1">Żywioł: <span class="text-primary">Ogień</span></div>
                        <br/>
                        <div class="mb-1">Energia: <span class="text-primary" th:text="${turtle.getEnergy()}"></span></div>
                    </td>
                    <td style="width: 30%; vertical-align: top;">
                        <div th:each="stat : ${turtle.getTurtleStatisticList()}">
                            <div class="mb-1"><span th:text="${stat.getStatistic().getName()}"></span>: <span class="text-primary" th:text="${stat.getValue()}"></span></div>
                        </div>
                    </td>
                    <td style="width: 40%;">
                        <a th:href="@{/turtles/{id}/details(id = ${turtle.id})}">
                            <button class="button mb-2">Szczegóły</button>
                        </a>
                        <a href="#">
                            <button class="button mb-2">Historia walk</button>
                        </a>
                        <form th:action="@{'/turtles/' + ${turtle.getId()} + '/delete'}" method="post">
                            <button type="submit" class="button mb-2" onclick="abandonTurtleConfirm(this)">Porzuć żółwia</button>
                        </form>
                        <form th:action="@{'/turtles/' + ${turtle.getId()} + '/sell'}" method="post">
                            <button type="submit" class="button mb-2" onclick="openForm()">Sprzedaj żółwia</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-popup" id="myForm">
            <h1>Ustal cenę</h1>
            <form th:action="@{'/turtles/' + ${turtle.getId()} + '/sell'}" method="post">
                <label for="Gold"><b>Ilość złota:</b></label>
                <input class="input" type="text" id="Gold" name="Gold" required>
                <button type="submit" class="button mb-2" onclick="sellTurtleConfirm(this)">Sprzedaj</button>
            </form>
            <button type="submit" class="button button-danger mb-3" onclick="closeForm()">Wyjdź</button>
        </div>
    </div>
    <a href="/nest">
        <button class="button mb-2">Zaadoptuj żółwia</button>
    </a>

</div>