<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Szczegóły żółwia <span th:text="${turtle.getName()}"></span></h1>

<div layout:fragment="content">

    <div class>
        <!-- karmienie -->
        <form action="" method="post" th:action="@{'/turtles/' + ${turtle.getId()} + '/details'}">
            <div class="card mb-2">
                <div class="flex flex-row mb-4 gap-4">
                    <div>
                        <h2 style="margin-top: 0;">Nakarm żółwia</h2>
                        <div th:if="${feedSuccessMessage}" class="text-success" role="alert">
                            <span th:text="${feedSuccessMessage}"></span>
                        </div>
                        <div th:if="${!foods.isEmpty()}">
                            <ul>
                                <li th:each="food : ${foods}">
                                    <img src="/assets/images/items/scroll.png"/>
                                    <span th:text="${food.getName()}"></span> dodaje <span
                                        th:text="${food.getItemStatistic(food.getId()).getValue()}"></span> punkt do
                                    umiejętności: <span
                                        th:text="${food.getItemStatistic(food.getId()).getStatistic().getName()}"></span>
                                </li>
                            </ul>
                        </div>
                        <div th:if="${foods.isEmpty()}">Brak pokarmu dla żółwi. Wyślij swojego żółwia na <a
                                href="/expeditions">wyprawę</a> albo kup pokarm w sklepie!
                        </div>
                    </div>
                </div>
                <div class="flex flex-row gap-4">

                    <div class="flex flex-row gap-4 size-wide">
                        <select class="select" name="food">
                            <option disabled selected>Wybierz pokarm</option>
                            <option th:each="food : ${foods}" th:value="${food.getId()}"
                                    th:text="${food.getName()}"></option>
                        </select>
                    </div>
                    <div class="flex flex-row" style="width: 220px;">
                        <input type="hidden" name="turtle" th:value="${turtle.id}"/>
                        <input class="button" type="submit" value="Nakarm"/>
                    </div>
        </form>
    </div>
</div>
</form>
</div>

</div>