<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master.html}">

<h1 layout:fragment="header">Profil gracza</h1>

<div layout:fragment="content">

    <!-- profile avatar & description -->
    <div class="flex flex-row gap-4 mb-2">
        <div class="card" style="width: 25%">
            <img th:src="@{'/media/' + ${userInformation.id} + '.png'}"
                 onerror="this.onerror=null; this.src='/assets/images/avatars/0.webp';"
                 class="card size-wide p-0">
            <h2 class="text-primary mb-0" th:text="${userInformation.getUsername()}"></h2>
            <div th:text="${userInformation.getRole().getName()}"
                 th:style="'color: ' + (${userInformation.getRole().getColor() ?: ''})">
            </div>
            <h5>Status: <span th:if="${isOnline}" th:text="'Online'" th:class="'text-success'"></span>
                <span th:unless="${isOnline}" th:text="'Offline'" th:class="'text-danger'"></span>

            </h5>
            <span class="text-muted text-sm">W grze od <span
                    th:text="${#temporals.format(userInformation.getRegistrationDate(), 'dd.MM.YYY')}"></span></span>
            <div th:if="${userInformation.getUsername() != user.getUsername() && !isFriends}">
                <form th:action="@{'/friends/add'}" method="post" style="margin-top: 5px">
                    <input type="hidden" name="friendUsername" th:value="${userInformation.getUsername()}"/>
                    <button class="button mb-2">Dodaj znajomego</button>
                </form>
            </div>
        </div>
        <pre class="card" style="width: 75%" th:text="${userInformation.getAbout()}">
        </pre>
    </div>
    <!-- end of profile avatar & description -->


    <!-- profile turtles -->
    <div class="card size-wide mb-2">
        <h4 class="text-primary m-0 mb-4">Żółwie</h4>
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 140px);">

            <!-- turtle -->
            <div class="card p-3 m-1 text-center" th:each="turtle : ${userInformation.getTurtles()}">
                <img src="/assets/images/turtles/fire.png" style="height: 80px;"/>
                <h4 class="text-primary m-1" th:text="${turtle.getName()}"></h4>
                <h5 class="m-0">Poziom <span th:text="${turtle.getLevel()}"></span></h5>
            </div>
            <!-- end of turtle -->

        </div>
    </div>
    <!-- end of profile turtles -->


    <!-- profile achievements -->
    <div class="card size-wide">
        <h4 class="text-primary m-0 mb-4">Osiągnięcia</h4>
        <div style="display: grid; grid-template-columns: repeat(auto-fill, 33.3%);">

            <!-- achievement -->
            <div class="card p-3 m-1" th:each="achievement : ${userInformation.getAchievementsEarnedList()}">
                <div class="flex flex-row gap-4">
                    <div class="flex flex-center flex-middle">
                        <img th:src="@{${'/assets/images/achievement-' + achievement.getId() + '.png'}}"
                             style="width: 36px;"/>
                    </div>
                    <div>
                        <div class="mb-1"
                             th:text="${userInformation.getAchievementEarned(achievement.getId()).getAchievement().getName()}"></div>
                        <div class="text-muted text-sm"
                             th:text="${#temporals.format(userInformation.getAchievementEarned(achievement.id).getAchievedAt(), 'dd.MM.YYY')}"></div>
                    </div>
                </div>
            </div>
            <!-- end of achievement -->

        </div>
    </div>
    <!-- end of profile achievements -->

</div>